HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
*.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.list

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

generatorConfig.xml
将删除 .gitignore
将删除 common-codegenerator/src/test/
将删除 common-mapper/src/test/
将删除 common-pojo/src/main/resources/
将删除 common-pojo/src/test/
将删除 common-utils/src/
将删除 eureka-service/src/test/
